<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            
            <div class="headercontent">
                <div class="title">
                    
                    <h1><img src="~/Content/Images/logo.jpg" />@Html.ActionLink("Festival", "Index", "Home")</h1>
                
                </div>

                

                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
            
        </header>

        <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home",null,null)</li>
                            <li>@Html.ActionLink("Line-up", "Index", "LineUp",null,null)</li>
                            <li>@Html.ActionLink("Order", "Index", "Order",null,null)</li>
                        </ul>
         </nav>


        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper">
                @RenderBody()
            </section>
        </div>




        <footer>
            <div class="footer-content">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Bart Vandecandelaere</p>
                </div>
                <div class="float-right"><a href="http://localhost:14783/api/RSS"><img src="~/Content/Images/rss-logo.png" alt="rss logo"/></a></div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
