@model FestivalSite.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}
<div class="credentialWrappers">


<p class="message-success">@ViewBag.StatusMessage</p>

<h3>You're logged in as <strong>@User.Identity.Name</strong>.</h3>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

</div>