@model FestivalSite.ViewModels.LineUpVM
@using ClassLibraryModels
@{
    ViewBag.Title = "DetailLineup";
}


<div id="lineupwrap">
<div id="bandLineup">


<table>
<tr><td>Line-up for: @Model.SelectedBand.Name</td></tr>

@foreach (LineUp line in Model.LineupForBand) {
    <tr>
        <td>
            @line.Date.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => line.Stage.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => line.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => line.Until)
        </td>
        
    </tr>
}

</table>
</div>

@Html.ActionLink("Go back", "Index")

</div>