@model FestivalSite.ViewModels.LineUpVM
@using ClassLibraryModels
@{
    ViewBag.Title = "LineUpForDay";
}

<h2>Line-up: @Model.SelectedDay.Value.DayOfWeek</h2>
<h3>@Model.SelectedDay.Value.Date.ToShortDateString()</h3>



@foreach (Stage stage in Model.stagesWithLineup)
{
    if(stage.LineUpByStage.Count != 0){
    <div class="stage">
    <h3>@stage.Name</h3>
    <table>
        @foreach (LineUp lineupelement in stage.LineUpByStage)
	{
		 <tr>
             <td>@Html.ActionLink(lineupelement.Band.Name,"DetailBand",new {bandID = lineupelement.Band.ID, date = Model.SelectedDay})</td>
             <td>@lineupelement.From</td>
             <td>@lineupelement.Until</td>
		 </tr>
	}
        
    </table>
    </div>
    
    
    }
    
    
}

@Html.ActionLink("Go back", "Index")