@model FestivalSite.ViewModels.OrderVM
@using ClassLibraryModels
@{
    ViewBag.Title = "OrderIndex";
}

<div class="orderWrap">
<h2>Orders for @User.Identity.Name: </h2>


<div id="orders">
    <table>
        <tr>
            <td>Order ID</td>
            <td>E-mail</td>
            <td>Type</td>
            <td>Amount</td>
            <td>Total</td>
            <td></td>
        </tr>
@foreach (Ticket order in Model.OrdersPlacedByUser)
{
    <tr>
        <td>@order.ID</td>
        <td>@order.Email</td>
        <td>@order.TicketTypeProp.Name</td>
        <td>@order.Amount</td>
        <td>@{var tick = order.Amount * order.TicketTypeProp.Price;}€@Html.Raw(tick)</td>
        <td>@Html.ActionLink("Remove order","RemoveOrder", new{ orderID = order.ID })
    </td>
    </tr>
    
    

}
    </table>
</div>


<div id="placeOrder">

    

    

    @using (Html.BeginForm("PlaceOrder", "Order", FormMethod.Post)) {

        if (!String.IsNullOrEmpty(Model.Message)) { 
    
        <span id="message">@Model.Message</span>
    
        }
        
        <label><span>Place an order.</span></label>
        
        <div>@Html.Label("Type:")</div>
        @Html.DropDownList("type", (SelectList)Model.SelectListTypes, "Select your ticket type.")
       
       
        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>
        <input type="submit" value="Order" />
    
    }

    
        




</div>

</div>

